@charset "utf-8";

// ==========================================================================
//
//  Breakpoints
//
// ==========================================================================

$breakpoint_xxs_min: 0;
$breakpoint_xxs_max: 320px;
$breakpoint_xs_min: 0;
$breakpoint_xs_max: 820px;
$breakpoint_lg_min: 821px;
$breakpoint_lg_max: 1319px;
$breakpoint_xlg_min: 1320px;


// ==========================================================================
//
//  maxwidth
//
// ==========================================================================

$max-width_xxs: 95.625%;
$max-width_xs: 90.625%;
$max-width_lg: 940px;

// ==========================================================================
//
//  color
//
// ==========================================================================
$main-color: #007E0A;
$company-color: #005198;
$sub-color: #2B4CF0;
$accent-color: #fdfd54;

$englisth-text: "Arial Black","Open Sans", sans-serif;

