@charset "utf-8";

// ==========================================================================
//
//  Breakpoints
//
// ==========================================================================

$breakpoint_xxs_min: 0;
$breakpoint_xxs_max: 320px;
$breakpoint_xs_min: 0;
$breakpoint_xs_max: 767px;
$breakpoint_md_min: 999px;
$breakpoint_md_max: 1000px;
$breakpoint_lg_min: 1279px;
$breakpoint_lg_max: 1280px;
$breakpoint_xlg_max: 1319px;
$breakpoint_xlg_min: 1320px;


// ==========================================================================
//
//  maxwidth
//
// ==========================================================================

$max-width_xxs: 95.625%;
$max-width_xs: 90.625%;
$max-width_lg: 940px;

// ==========================================================================
//
//  color
//
// ==========================================================================
$main-blue-1: #004982;
$main-blue-2: #4CB6E9;

