@charset "utf-8";

@mixin xxs {
  @media only screen and (max-width: $breakpoint_xxs_max) {
    @content;
  }
}

@mixin xs {
  @media only screen and (max-width: $breakpoint_xs_max) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $breakpoint_lg_max) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: $breakpoint_lg_max) {
    @content;
  }
}

// @mixin xlg {
//   @media only screen and (max-width: $breakpoint_lg_max) {
//     @content;
//   }
// }


@mixin font($size, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

// letter-animation
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.3s) {
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {
      animation-delay: $delay_time * $i;
    }
  }
}
