.about{
 
}



.p-contact{
    margin-top: 150px;
    width: 100%;
    position: relative;
    margin-bottom: 160px;
    .line__img{
        position: absolute;
        width: 100%;
        top: -110%;
        transform: rotate(10deg);
    }
    .p-contact__content{
        .p-contact__desc{
            margin-top: 30px;
            width: 45%;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }
    .p-contact__btn{
        display: flex;
        gap: 60px;
        float: right;
    }
}
