@charset "utf-8";

@import "./config";
@import "./function";
@import "./mixin";
  
main{
    overflow-x: hidden;
}

  #about{
    
  }

  .greeting{
        margin-top: 100px;
        padding-top: 180px;
        position: relative;
        @include xs{
            padding-top: 0;
        }
        .line__img{
            position: absolute;
            z-index: -10;
            width: 100%;
            top: -1%;
        }

        &__inner{
            position: relative;
            padding: 0 40px;
            @include lg{
                padding: 0;
            }
            .c-title{
                // margin-top: 300px;
            }
            .eco-box{
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                position: relative;
                @include xs{
                    // display: block;
                    flex-direction: column-reverse;
                    position: static;
                    margin-top: 20px;
                }
            }
            .ceo-img__inner{
                width: 600px;
                position: absolute;
                right: 0;
                top: -140px;
                z-index: -1;
                @include md{
                    width: 480px;
                }
                @include xs{
                    width: 100%;
                    position: static;
                }
                .ceo__img{
              
                }
            }
            .ceo-message__inner{
                position: relative;
                width: 70%;
                @include xs{
                    width: 100%;
                }
                .ceo__message{
                    padding: 20px;
                    z-index: 100;
                    background-color: rgba(255, 255, 255, 0.8);
                    letter-spacing: 1.5;
                    font-size: 18px;
                    margin-left: -20px;
                    .ceo__message-strong{
                        color: $main-blue-2;
                        font-weight: bold;
                    }
                    .ceo__name{
                        margin-top: 20px;
                        text-align: right;
                        .ceo__name-strong{
                            font-weight: bold;
                            font-size: 27px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        } 
    }

#philosophy{
    padding-top: 150px;
    @include xs{
        padding-top: 0;
    }
}
.philosophy{
   margin-top: 100px;
   position: relative;
    &__inner{
        position: relative;
        
            .blueblock{
                background-color: $main-blue-1;
                height: 600px;
                position: relative;
                z-index: -1;
                width: calc(1280px + ((100vw - 1280px) / 2));
                @include lg{
                    
                }
                @include xs{
                    height: 450px;
                }
                &--reverse{
                    background-color: $main-blue-2;
                    margin-left: calc(-1 * ((100vw - 1280px) / 2));
                    @include lg{
                        margin-left: calc(-1 * ((100vw - 1000px) / 2)) ;
                        width: calc(1000px + ((100vw - 1000px) / 2));
                    }
                    @include md{
                        margin-left: calc(-1 * ((100vw - 767px) / 2)) ;
                        width: calc(767px + ((100vw - 767px) / 2));
                    }
                    @include xs{
                        margin-left: calc(-1 * ((100vw - 100%) / 2)) ;
                        width: calc(100% + ((100vw - 100%) / 2));
                    }
                }
            }
            .whiteblock{
                width: calc(100%);
                background-color: #ffffff;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: 0px;
                padding: 30px;
                @include xs{
                    padding: 15px;
                }
            }
        &--left{
            position: absolute;
            top: 800px;
            left: 0%;
            .blueblock{

                .whiteblock{

                }
            }
        }
        .bgMessage{
            color: $main-blue-2;
            opacity: 0.5;
            letter-spacing: 5px;
            font-size: 34px;
            z-index: 1;
            font-weight: bold;
            position: absolute;
            @include xs{
              font-size: 18px;
            }
            &--right{
                transform:rotate(-90deg);
                top: 46%;
                left: -350px;
                white-space: nowrap;
                @include xs{
                    display: none;
                }
            }
            &--left{
                color: $main-blue-1;
                transform:rotate(90deg);
                top: 48%;
                right: -220px;
                white-space: nowrap;
                @include xs{
                    display: none;
                }
            }
        }
        .title__about{
            margin-bottom: 60px;
        }
        .message{
            text-align: center;
            &__title{
                color: $main-blue-1;
                letter-spacing: 5px;
                font-size: 45px;
                font-weight: bold;
                margin-bottom: 20px;
                @include xs{
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
            &__desc{
                display: block;
                font-size: 20px;
                letter-spacing: 1.5;
                @include xs{
                    font-size: 16px;
                }
                span{
                    color: $main-blue-2;
                }
            }
        }
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 90%;
        // transform: translate(0, 35%);
        z-index: -2;
    }
}

    #logo{
        padding-top: 100px;
    }
    .logo{
        overflow: hidden;
        .logo__inner{
            padding-top: 100px;
            padding: 0 100px;
            margin-top: 100px;
            @include lg{
                padding: 0;
            }
            .p-about-logo__title{
                margin-bottom: 150px;
                @include md{
                    margin-bottom: 60px;
                }
            }
            .p-about-logo__content{
                display: flex;
                align-items: center;
                margin-bottom: 120px;
                padding-left: 100px;
                @include lg{
                    padding-left: 0;
                }
                @include md{
                    display: block;
                }
                .p-about-logo__leftside{
                    width: 45%;
                    @include md{
                        margin-bottom: 60px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    @include xs{
                        width: calc(100% - 30px);
                        max-width: 450px;
                    }
                    .block__logo{
                        width: 350px;
                        aspect-ratio: 1 /1 ;
                        background-color: rgba(255, 255, 255, 0.9);
                        margin: 0 auto;
                        display: flex;
                        position: relative;
                        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
                        @media screen and (max-width: 1180px) {
                            width: 300px;
                        }
                        @include md{

                        }
                        @include xs{
                            width: 100%;
                        }
                        .block__skyblue{
                            position: absolute;
                            aspect-ratio: 1 /1 ;
                            width: 350px;
                            background-color: $main-blue-2;
                            top: -45px;
                            z-index: -1;
                            left: -45px;
                            @media screen and (max-width: 1180px) {
                                width: 300px;
                            }
                            @include md{
                              top: -20px;
                              left: -20px;
                            }
                            @include xs{
                                width: 100%;
                            }
                        }
                        .block__blue{
                            position: absolute;
                            aspect-ratio: 1 /1 ;
                            width: 350px;
                            background-color: $main-blue-1;
                            top: 45px;
                            z-index: -2;
                            left: 45px;
                            @media screen and (max-width: 1180px) {
                                width: 300px;
                            }
                            @include md{
                                top: 20px;
                                left: 20px;
                            }
                            @include xs{
                                width: 100%;
                            }
                        }
                    }
                }
                .p-about-logo__rightside{
                    width: 100%;
                    position: relative;
                    @include lg{
                        width: 55%;
                    }
                    @include md{
                        width: 100%;
                    }
                    .logo__desc{

                        @include lg{

                        }
                        .block__skyblue{
                            position: relative;
                            width: calc(100% + ((100vw - 1280px) / 2));
                            height: 60px;
                            background: linear-gradient(145deg, transparent 10%, $main-blue-1 10%);
                            margin-bottom: 70px;
                            margin-left: calc((100vw - 1280px) / 2);
                            @media screen and (max-width: 1540px) {
                                margin-left: calc((100vw - 1080px) / 2);
                                background: linear-gradient(145deg, transparent 11%, $main-blue-1 10%);
                            }
                            @include lg{
                                width: calc(100% + ((100vw - 800px) / 2));
                            }
                            @include md{
                                width: calc(100% + ((100vw - 100%) / 2));
                                margin-left: calc((100vw - 100%) / 2);
                            }
                            @include xs{
                                background: $main-blue-1;
                                margin-left: 0;
                                height: 40px;
                                width: 100%;
                                margin-bottom: 30px;
                            }
                            .block__blue{
                                position: absolute;
                                width: 100%;
                                height: 60px;
                                background: linear-gradient(145deg, transparent 10%, $main-blue-2 10%);
                                top: 18%;
                                left: 1%;
                                z-index: -1;
                                @media screen and (max-width: 1540px) {
                                    background: linear-gradient(145deg, transparent 11%, $main-blue-2 10%);
                                }
                                @include xs{
                                    background: $main-blue-2;
                                    left: 10px;
                                    top: 10px;
                                    height: 40px;
                                }
                            }
                            p{
                                color: #ffffff;
                                font-size: 24px;
                                padding-top: 10px;
                                padding-left: 12%;
                                letter-spacing: 1.5px;
                                @include lg{
                                    font-size: 20px;
                                }
                                @include xs{
                                    font-size: 14px;
                                    padding-left: 20px;
                                    display: block;
                                    text-align: center;
                                }
                                span{
                                    background-color: $main-blue-1;
                                    color: #ffffff;
                                    font-size: 32px;
                                    padding: 4px 4px;
                                    @include xs{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .p-about-logo__message{
                width: 105%;
                font-size: 140%;
                text-align: center;
            }
        }
    }
    
    #company{
    
    }
    .company{
        margin-top: 100px;
        padding: 0 100px;
        @include xs{
            padding: 0 20px;
        }
        .company__inner{
            .p-about-company__title{
                margin-bottom: 100px;
                @include md{
                    margin-bottom: 40px;
                }
            }
            .p-recruitment__content{
                padding: 60px;
                font-size: 20px;
                width: 90%;
                margin: auto;
                background-color: #ffffff;
                position: relative;
                margin-bottom: 100px;
                @include md{
                    width: 100%;
                    padding: 0px;
                }
                .p-recruitment__list{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    .p-recruitment__term{
                        width: 175px;
                        padding: 23px 20px;
                        font-weight: bold;
                        border-bottom: solid 1.5px $main-blue-2;
                        min-width: 150px;
                        @include xs{
                            font-size: 14px;
                            width: 115px;
                            min-width: 115px;
                            letter-spacing: 1px;
                            padding: 10px;
                        }

                    }
                    .p-recruitment__desc{
                        width: calc(100% - 175px);
                        line-height: 1.8;
                        padding: 23px 20px;
                        border-bottom: solid 1px #d6d6d6;
                        @include xs{
                            font-size: 14px;
                            width: calc(100% - 115px);
                            padding: 10px;
                        }
                    }
                }
                .p-recruitment__term{
                    letter-spacing: 2px;
                    line-height: 1.8;
                }
                .block__blue{
                    position: absolute;
                    background-color: $main-blue-1;
                    width: 150%;
                    height: 1565px;
                    top: -4.5%;
                    left: -50%;
                    z-index: -2;
                    @include md{
                        display: none;
                    }
                }
                .block__skyblue{
                    position: absolute;
                    background-color: $main-blue-2;
                    width: 155%;
                    height: 1570px;
                    top: -8%;
                    left: 6%;
                    z-index: -1;
                    @include md{
                        display: none;
                    }
                }
            }
        }
    }


#access{
    padding-top: 150px;
}
.access{
    &__inner{
        .access__contents{
            display: flex;
            margin-top: 30px;
            @include xs{
                display: block;
            }
            &--desc{
                width: 50%;
                @include xs{
                    width: 100%;
                }
                dl{
                    display: flex;
                    flex-wrap: wrap;
                    width: 95%;
                    margin-bottom: 15px;
                    line-height: 1.8;
                    @include xs{
                        width: 100%;
                    }
                    dt{
                        width: 30%;
                        font-weight: bold;
                        padding: 10px;
                        border-bottom: solid 1.5px #4CB6E9;
                    }
                    dd{
                        width: 65%;
                        padding: 10px;
                        border-bottom: solid 1px #d6d6d6;
                    }
                }
            }
            &--map{
                width: 50%;
                @include xs{
                    width: 100%;
                }
                >iframe{
                    width: 100%;
                    aspect-ratio: 4 / 3;
                }
            }
        } 
    }
}
    

.p-contact{
    margin-top: 150px;
    width: 100%;
    position: relative;
    margin-bottom: 160px;
    .line__img{
        position: absolute;
        width: 100%;
        top: -110%;
        transform: rotate(10deg);
    }
    .p-contact__content{
        .p-contact__desc{
            margin-top: 30px;
            width: 45%;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }
    .p-contact__btn{
        display: flex;
        gap: 60px;
        float: right;
    }
}
