@charset "utf-8";

@import "./config";
@import "./function";
@import "./mixin";
  


#price{

}
.price{
    margin-top: 250px;
    @include xs{
        margin-top: 60px;
    }
    .price__inner{
        padding: 0 100px;
        @include lg{
            padding: 0;
        }
        .p-price__contents{
            
            margin-bottom: 200px;
           .p-price__content{
                margin-top: 50px;
                margin-bottom: 100px;
                @include xs{
                    margin-bottom: 40px;
                }
                #irenovation{
                    padding-top: 100px;
                }
                .p-price__img{
                    width: 500px;
                    aspect-ratio: 500 / 350;
                    object-fit: cover;
                    padding-top: 50px;
                    @include lg{
                        width: calc(50% - 20px);
                    }
                    @include xs{
                        width: 100%;
                        padding-top: 0;
                    }
                    &--contain{
                        object-fit: contain;
                    }
                }
                .p-price__explain{
                    padding-top: 80px;
                    float: right;
                    width: 50%;
                    @include lg{
                        width: calc(50% - 20px);
                    }
                    .p-price__subtitle{
                        font-size: 32px;
                        @include xs{
                            font-size: 24px;
                        }
                    }
                    .p-price__desc{
                        padding-top: 50px;
                        font-size: 20px;
                    }
                    .p-price__price{
                        padding-top: 50px;
                        font-size: 20px;
                        @include xs{
                            font-size: 16px;
                        }
                    }
                    .p-price__btn--right{
                        float: right; 
                    }
                }
                .irenovation__explain{
                    width: 50%;
                    float: left;
                    padding-top: 30px;
                    padding-left: 0px;
                    @include xs{
                        padding-top: 0;
                        width: 100%;
                        float: initial;
                    }
                    .irenovation__subtitle{
                        margin-bottom: 50px;
                        @include xs{
                            margin-bottom: 20px;
                        }
                    }
                    .price__list{
                        width: 100%;
                        display: flex;
                        margin-bottom: 25px;
                        gap: 20px;
                    }
                    .irenovation__price-title{
                        width: 100%;
                        padding-top: 0px;
                    }
                    .irenovation__price{
                        font-size: 20px;
                        width: 50%;
                        text-align: right;
                        @include xs{
                            font-size: 16px;
                        }
                    }
                }
                .irenovation__img{
                    float: right;
                    @include xs{
                        float: initial;
                    }
                }
           }
           .p-price__btn--center{
                width: 100%;
                display: flex;
                justify-content: center;
           }
           .p-price__btn--center-W{
                margin-top: 60px;
                margin-bottom: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                @include xs{
                    flex-direction: column;
                    gap: 40px;
                }
                .irenovation__btn{
                    width: 320px;
                }
            }
        }
    }
}
