.c-inner {
  width: 100%;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;


  @include lg{
    max-width: 1000px;
  }
  @include md {
    max-width: 767px;
  }
  @include xs {
    max-width: calc(100% - 40px);
  }

}
