
@charset "utf-8";

@import "../../config";
@import "../../function";
@import "../../mixin";

.c-title{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 60px;
        border-right: 2px solid $main-blue-2;
        border-bottom: 2px solid $main-blue-2;
        transform: skew(-45deg);
        left: -20px;
        top: -40px;
        @include xs{
            height: 40px;
            left: -10px;
            top: -25px;
        }
    }
    .ja{
        font-size: 20px;
        margin-bottom: 5px;
        @include xs{
            font-size: 18px;
        }
    }
    .en{
        font-size: 32px;
        font-weight: bold;
        @include xs{
            font-size: 24px;
        }
    }
    .icon{
        position: absolute;
    }
    &--recruit{
        margin-bottom: 65px;
        .ja,.en{ 
            color: white;
        }

    }
}
