@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');


.l-header{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .logo{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        .text{
            .title{
                color: $main-blue-1;
                font-size: 24px;
                margin-bottom: 5px;
            }
            .copy{
                font-size: 15px;
                color: $main-blue-2;
            }
        }
    }

  }
  &__nav{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__menu{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 19px;
    a{
        position: relative;
        padding: 5px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px; /* 下線の太さ */
            background-color: $main-blue-2; /* 下線の色 */
            transition: width 0.3s ease;
        } 
        &.is-current{
           color: $main-blue-1;
        }
    }
    a:hover::after {
        width: 100%; /* ホバー時に下線が左から右に広がる */
      }
  }
  &__sns{
    display: flex;
    gap: 15px;
    a{
        display: block;
        width: 30px;
    }
  }
}