

.p-contact{
    position: relative;
    .contact-line{
        position: absolute;
        width: 100%;
        top: -70%;
        left: 0%;
        rotate: 5deg;
    }
    &__title{   
    }
    &__btns{
        display: flex;
        gap: 40px;
        @include xs{
            display: block;
        }
        .c-btn{
            &:first-of-type{
                @include xs{
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__content{
        margin-top: 40px;
    }
}