

@charset "utf-8";

@import "../../config";
@import "../../function";
@import "../../mixin";


.p-lead-sec{
    padding: 65px 50px;
    
    &__content{
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: end;
    }
}