.greeting {
  margin-top: 100px;
  padding-top: 180px;
  position: relative;
}
.greeting .line__img {
  position: absolute;
  z-index: -10;
  width: 100%;
  top: -1%;
}
.greeting__inner {
  position: relative;
  padding: 0 40px;
}
.greeting__inner .eco-box {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.greeting__inner .ceo-img__inner {
  width: 600px;
  position: absolute;
  right: 0;
  top: -140px;
  z-index: -1;
}
.greeting__inner .ceo-message__inner {
  position: relative;
  width: 70%;
}
.greeting__inner .ceo-message__inner .ceo__message {
  padding: 20px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.5;
  font-size: 18px;
  margin-left: -20px;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__message-strong {
  color: #4CB6E9;
  font-weight: bold;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__name {
  margin-top: 20px;
  text-align: right;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__name .ceo__name-strong {
  font-weight: bold;
  font-size: 27px;
  margin-left: 5px;
}

.philosophy {
  margin-top: 180px;
  position: relative;
}
.philosophy__inner {
  position: relative;
}
.philosophy__inner .blueblock {
  background-color: #004982;
  height: 600px;
  position: relative;
  z-index: -1;
  width: calc(1280px + (100vw - 1280px) / 2);
}
@media only screen and (max-width: 1280px) {
  .philosophy__inner .blueblock {
    background-color: aqua;
  }
}
.philosophy__inner .blueblock--reverse {
  background-color: #4CB6E9;
  margin-left: calc(-1 * (100vw - 1280px) / 2);
}
.philosophy__inner .whiteblock {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  padding: 30px;
}
.philosophy__inner--left {
  position: absolute;
  top: 800px;
  left: 0%;
}
.philosophy__inner--left .blueblock {
  background-color: #4CB6E9;
  width: 84vw;
  height: 100%;
  position: relative;
}
.philosophy__inner--left .blueblock .whiteblock {
  width: 80vw;
  background-color: #ffffff;
  position: absolute;
  top: 14%;
  right: 0;
  padding-bottom: 130px;
}
.philosophy__inner .bgMessage {
  color: #4CB6E9;
  opacity: 0.5;
  letter-spacing: 5px;
  font-size: 34px;
  z-index: 1;
  font-weight: bold;
  position: absolute;
}
.philosophy__inner .bgMessage--right {
  transform: rotate(-90deg);
  top: 46%;
  left: -350px;
  white-space: nowrap;
}
.philosophy__inner .bgMessage--left {
  color: #004982;
  transform: rotate(90deg);
  top: 48%;
  right: -220px;
  white-space: nowrap;
}
.philosophy__inner .title__about {
  margin-bottom: 60px;
}
.philosophy__inner .message {
  text-align: center;
}
.philosophy__inner .message__title {
  color: #004982;
  letter-spacing: 5px;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
.philosophy__inner .message__desc {
  display: block;
  font-size: 20px;
  letter-spacing: 1.5;
}
.philosophy__inner .message__desc span {
  color: #4CB6E9;
}
.philosophy__bg {
  position: absolute;
  left: 0;
  top: 90%;
  z-index: -2;
}

#logo {
  padding-top: 100px;
}

.logo .logo__inner {
  padding-top: 100px;
  padding: 0 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.logo .logo__inner .p-about-logo__title {
  margin-bottom: 150px;
}
.logo .logo__inner .p-about-logo__content {
  display: flex;
  margin-bottom: 120px;
  padding-left: 100px;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside {
  width: 45%;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo {
  height: 350px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  display: flex;
  position: relative;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__skyblue {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #4CB6E9;
  top: -45px;
  z-index: -1;
  left: -45px;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__blue {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #004982;
  top: 45px;
  z-index: -2;
  left: 45px;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside {
  width: 100%;
  position: relative;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc {
  width: 110%;
  position: absolute;
  top: -21%;
  left: 17%;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
  position: relative;
  width: 60vw;
  height: 60px;
  background: linear-gradient(145deg, transparent 10%, #4CB6E9 10%);
  margin-bottom: 70px;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue .block__blue {
  position: absolute;
  width: 100%;
  height: 60px;
  background: linear-gradient(145deg, transparent 10%, #004982 10%);
  top: 40%;
  left: 5%;
  z-index: -1;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p {
  color: #ffffff;
  font-size: 160%;
  padding-top: 5px;
  padding-left: 11%;
  letter-spacing: 1.5px;
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p span {
  background-color: #004982;
  color: #ffffff;
  font-size: 32px;
  padding: 4px 4px;
}
.logo .logo__inner .p-about-logo__message {
  width: 105%;
  font-size: 140%;
  text-align: center;
}

#company {
  padding-top: 150px;
}

.company {
  margin-top: 100px;
  padding: 0 100px;
  overflow-x: hidden;
}
.company .company__inner .p-about-company__title {
  margin-bottom: 100px;
}
.company .company__inner .p-recruitment__content {
  padding: 60px;
  font-size: 20px;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 100px;
}
.company .company__inner .p-recruitment__content .p-recruitment__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__term {
  width: 20%;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: solid 1.5px #4CB6E9;
}
.company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__desc {
  width: 80%;
  line-height: 1.8;
  padding-top: 23px;
  padding-left: 45px;
  padding-bottom: 23px;
  margin-bottom: 10px;
  border-bottom: solid 1px #d6d6d6;
}
.company .company__inner .p-recruitment__content .block__blue {
  position: absolute;
  background-color: #004982;
  width: 150%;
  height: 1565px;
  top: -4.5%;
  left: -50%;
  z-index: -2;
}
.company .company__inner .p-recruitment__content .block__skyblue {
  position: absolute;
  background-color: #4CB6E9;
  width: 155%;
  height: 1570px;
  top: -8%;
  left: 6%;
  z-index: -1;
}

#access {
  padding-top: 150px;
}

.access {
  padding: 0 100px;
}
.access__inner .access__contents {
  display: flex;
  margin-top: 30px;
}
.access__inner .access__contents--desc {
  width: 50%;
}
.access__inner .access__contents--desc dl {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-bottom: 15px;
}
.access__inner .access__contents--desc dl dt {
  width: 30%;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 1.5px #4CB6E9;
}
.access__inner .access__contents--desc dl dd {
  width: 65%;
  padding: 10px;
  border-bottom: solid 1px #d6d6d6;
}

.p-contact {
  margin-top: 150px;
  width: 100%;
  position: relative;
  margin-bottom: 160px;
}
.p-contact .line__img {
  position: absolute;
  width: 100%;
  top: -110%;
  transform: rotate(10deg);
}
.p-contact .p-contact__content .p-contact__desc {
  margin-top: 30px;
  width: 45%;
  font-size: 18px;
  letter-spacing: 1px;
}
.p-contact .p-contact__btn {
  display: flex;
  gap: 60px;
  float: right;
}/*# sourceMappingURL=about.css.map */