main {
  overflow-x: hidden;
}

.greeting {
  margin-top: 100px;
  padding-top: 180px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .greeting {
    padding-top: 0;
  }
}
.greeting .line__img {
  position: absolute;
  z-index: -10;
  width: 100%;
  top: -1%;
}
.greeting__inner {
  position: relative;
  padding: 0 40px;
}
@media only screen and (max-width: 1280px) {
  .greeting__inner {
    padding: 0;
  }
}
.greeting__inner .eco-box {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .greeting__inner .eco-box {
    flex-direction: column-reverse;
    position: static;
    margin-top: 20px;
  }
}
.greeting__inner .ceo-img__inner {
  width: 600px;
  position: absolute;
  right: 0;
  top: -140px;
  z-index: -1;
}
@media only screen and (max-width: 1000px) {
  .greeting__inner .ceo-img__inner {
    width: 480px;
  }
}
@media only screen and (max-width: 767px) {
  .greeting__inner .ceo-img__inner {
    width: 100%;
    position: static;
  }
}
.greeting__inner .ceo-message__inner {
  position: relative;
  width: 70%;
}
@media only screen and (max-width: 767px) {
  .greeting__inner .ceo-message__inner {
    width: 100%;
  }
}
.greeting__inner .ceo-message__inner .ceo__message {
  padding: 20px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1.5;
  font-size: 18px;
  margin-left: -20px;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__message-strong {
  color: #4CB6E9;
  font-weight: bold;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__name {
  margin-top: 20px;
  text-align: right;
}
.greeting__inner .ceo-message__inner .ceo__message .ceo__name .ceo__name-strong {
  font-weight: bold;
  font-size: 27px;
  margin-left: 5px;
}

#philosophy {
  padding-top: 150px;
}
@media only screen and (max-width: 767px) {
  #philosophy {
    padding-top: 0;
  }
}

.philosophy {
  margin-top: 100px;
  position: relative;
}
.philosophy__inner {
  position: relative;
}
.philosophy__inner .blueblock {
  background-color: #004982;
  height: 600px;
  position: relative;
  z-index: -1;
  width: calc(1280px + (100vw - 1280px) / 2);
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .blueblock {
    height: 450px;
  }
}
.philosophy__inner .blueblock--reverse {
  background-color: #4CB6E9;
  margin-left: calc(-1 * (100vw - 1280px) / 2);
}
@media only screen and (max-width: 1280px) {
  .philosophy__inner .blueblock--reverse {
    margin-left: calc(-1 * (100vw - 1000px) / 2);
    width: calc(1000px + (100vw - 1000px) / 2);
  }
}
@media only screen and (max-width: 1000px) {
  .philosophy__inner .blueblock--reverse {
    margin-left: calc(-1 * (100vw - 767px) / 2);
    width: calc(767px + (100vw - 767px) / 2);
  }
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .blueblock--reverse {
    margin-left: calc(-1 * (100vw - 100%) / 2);
    width: calc(100% + (100vw - 100%) / 2);
  }
}
.philosophy__inner .whiteblock {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .whiteblock {
    padding: 15px;
  }
}
.philosophy__inner--left {
  position: absolute;
  top: 800px;
  left: 0%;
}
.philosophy__inner .bgMessage {
  color: #4CB6E9;
  opacity: 0.5;
  letter-spacing: 5px;
  font-size: 34px;
  z-index: 1;
  font-weight: bold;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .bgMessage {
    font-size: 18px;
  }
}
.philosophy__inner .bgMessage--right {
  transform: rotate(-90deg);
  top: 46%;
  left: -350px;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .bgMessage--right {
    display: none;
  }
}
.philosophy__inner .bgMessage--left {
  color: #004982;
  transform: rotate(90deg);
  top: 48%;
  right: -220px;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .bgMessage--left {
    display: none;
  }
}
.philosophy__inner .title__about {
  margin-bottom: 60px;
}
.philosophy__inner .message {
  text-align: center;
}
.philosophy__inner .message__title {
  color: #004982;
  letter-spacing: 5px;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .message__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.philosophy__inner .message__desc {
  display: block;
  font-size: 20px;
  letter-spacing: 1.5;
}
@media only screen and (max-width: 767px) {
  .philosophy__inner .message__desc {
    font-size: 16px;
  }
}
.philosophy__inner .message__desc span {
  color: #4CB6E9;
}
.philosophy__bg {
  position: absolute;
  left: 0;
  top: 90%;
  z-index: -2;
}

#logo {
  padding-top: 100px;
}

.logo {
  overflow: hidden;
}
.logo .logo__inner {
  padding-top: 100px;
  padding: 0 100px;
  margin-top: 100px;
}
@media only screen and (max-width: 1280px) {
  .logo .logo__inner {
    padding: 0;
  }
}
.logo .logo__inner .p-about-logo__title {
  margin-bottom: 150px;
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__title {
    margin-bottom: 60px;
  }
}
.logo .logo__inner .p-about-logo__content {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  padding-left: 100px;
}
@media only screen and (max-width: 1280px) {
  .logo .logo__inner .p-about-logo__content {
    padding-left: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content {
    display: block;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside {
  width: 45%;
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside {
    width: calc(100% - 30px);
    max-width: 450px;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo {
  width: 350px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  display: flex;
  position: relative;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1180px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo {
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo {
    width: 100%;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__skyblue {
  position: absolute;
  aspect-ratio: 1/1;
  width: 350px;
  background-color: #4CB6E9;
  top: -45px;
  z-index: -1;
  left: -45px;
}
@media screen and (max-width: 1180px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__skyblue {
    width: 300px;
  }
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__skyblue {
    top: -20px;
    left: -20px;
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__skyblue {
    width: 100%;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__blue {
  position: absolute;
  aspect-ratio: 1/1;
  width: 350px;
  background-color: #004982;
  top: 45px;
  z-index: -2;
  left: 45px;
}
@media screen and (max-width: 1180px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__blue {
    width: 300px;
  }
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__blue {
    top: 20px;
    left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__leftside .block__logo .block__blue {
    width: 100%;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 1280px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside {
    width: 55%;
  }
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside {
    width: 100%;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
  position: relative;
  width: calc(100% + (100vw - 1280px) / 2);
  height: 60px;
  background: linear-gradient(145deg, transparent 10%, #004982 10%);
  margin-bottom: 70px;
  margin-left: calc((100vw - 1280px) / 2);
}
@media screen and (max-width: 1540px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
    margin-left: calc((100vw - 1080px) / 2);
    background: linear-gradient(145deg, transparent 11%, #004982 10%);
  }
}
@media only screen and (max-width: 1280px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
    width: calc(100% + (100vw - 800px) / 2);
  }
}
@media only screen and (max-width: 1000px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
    width: calc(100% + (100vw - 100%) / 2);
    margin-left: calc((100vw - 100%) / 2);
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue {
    background: #004982;
    margin-left: 0;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue .block__blue {
  position: absolute;
  width: 100%;
  height: 60px;
  background: linear-gradient(145deg, transparent 10%, #4CB6E9 10%);
  top: 18%;
  left: 1%;
  z-index: -1;
}
@media screen and (max-width: 1540px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue .block__blue {
    background: linear-gradient(145deg, transparent 11%, #4CB6E9 10%);
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue .block__blue {
    background: #4CB6E9;
    left: 10px;
    top: 10px;
    height: 40px;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p {
  color: #ffffff;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 12%;
  letter-spacing: 1.5px;
}
@media only screen and (max-width: 1280px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p {
    font-size: 14px;
    padding-left: 20px;
    display: block;
    text-align: center;
  }
}
.logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p span {
  background-color: #004982;
  color: #ffffff;
  font-size: 32px;
  padding: 4px 4px;
}
@media only screen and (max-width: 767px) {
  .logo .logo__inner .p-about-logo__content .p-about-logo__rightside .logo__desc .block__skyblue p span {
    font-size: 18px;
  }
}
.logo .logo__inner .p-about-logo__message {
  width: 105%;
  font-size: 140%;
  text-align: center;
}

.company {
  margin-top: 100px;
  padding: 0 100px;
}
@media only screen and (max-width: 767px) {
  .company {
    padding: 0 20px;
  }
}
.company .company__inner .p-about-company__title {
  margin-bottom: 100px;
}
@media only screen and (max-width: 1000px) {
  .company .company__inner .p-about-company__title {
    margin-bottom: 40px;
  }
}
.company .company__inner .p-recruitment__content {
  padding: 60px;
  font-size: 20px;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1000px) {
  .company .company__inner .p-recruitment__content {
    width: 100%;
    padding: 0px;
  }
}
.company .company__inner .p-recruitment__content .p-recruitment__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__term {
  width: 175px;
  padding: 23px 20px;
  font-weight: bold;
  border-bottom: solid 1.5px #4CB6E9;
  min-width: 150px;
}
@media only screen and (max-width: 767px) {
  .company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__term {
    font-size: 14px;
    width: 115px;
    min-width: 115px;
    letter-spacing: 1px;
    padding: 10px;
  }
}
.company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__desc {
  width: calc(100% - 175px);
  line-height: 1.8;
  padding: 23px 20px;
  border-bottom: solid 1px #d6d6d6;
}
@media only screen and (max-width: 767px) {
  .company .company__inner .p-recruitment__content .p-recruitment__list .p-recruitment__desc {
    font-size: 14px;
    width: calc(100% - 115px);
    padding: 10px;
  }
}
.company .company__inner .p-recruitment__content .p-recruitment__term {
  letter-spacing: 2px;
  line-height: 1.8;
}
.company .company__inner .p-recruitment__content .block__blue {
  position: absolute;
  background-color: #004982;
  width: 150%;
  height: 1565px;
  top: -4.5%;
  left: -50%;
  z-index: -2;
}
@media only screen and (max-width: 1000px) {
  .company .company__inner .p-recruitment__content .block__blue {
    display: none;
  }
}
.company .company__inner .p-recruitment__content .block__skyblue {
  position: absolute;
  background-color: #4CB6E9;
  width: 155%;
  height: 1570px;
  top: -8%;
  left: 6%;
  z-index: -1;
}
@media only screen and (max-width: 1000px) {
  .company .company__inner .p-recruitment__content .block__skyblue {
    display: none;
  }
}

#access {
  padding-top: 150px;
}

.access__inner .access__contents {
  display: flex;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .access__inner .access__contents {
    display: block;
  }
}
.access__inner .access__contents--desc {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .access__inner .access__contents--desc {
    width: 100%;
  }
}
.access__inner .access__contents--desc dl {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-bottom: 15px;
  line-height: 1.8;
}
@media only screen and (max-width: 767px) {
  .access__inner .access__contents--desc dl {
    width: 100%;
  }
}
.access__inner .access__contents--desc dl dt {
  width: 30%;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 1.5px #4CB6E9;
}
.access__inner .access__contents--desc dl dd {
  width: 65%;
  padding: 10px;
  border-bottom: solid 1px #d6d6d6;
}
.access__inner .access__contents--map {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .access__inner .access__contents--map {
    width: 100%;
  }
}
.access__inner .access__contents--map > iframe {
  width: 100%;
  aspect-ratio: 4/3;
}

.p-contact {
  margin-top: 150px;
  width: 100%;
  position: relative;
  margin-bottom: 160px;
}
.p-contact .line__img {
  position: absolute;
  width: 100%;
  top: -110%;
  transform: rotate(10deg);
}
.p-contact .p-contact__content .p-contact__desc {
  margin-top: 30px;
  width: 45%;
  font-size: 18px;
  letter-spacing: 1px;
}
.p-contact .p-contact__btn {
  display: flex;
  gap: 60px;
  float: right;
}