@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s;
  color: #333333;
}

p {
  line-height: 1.7;
}
@media only screen and (max-width: 820px) {
  p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

body {
  font-family: "Noto Sans JP", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  letter-spacing: -0.03em;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-x: hidden;
}
@media only screen and (max-width: 820px) {
  body {
    min-width: 0;
  }
}

img {
  vertical-align: bottom;
  max-width: 100%;
}
@media only screen and (max-width: 820px) {
  img {
    min-width: auto;
  }
}

.c-inner {
  width: 100%;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.c-inner--20 {
  padding-left: 20px;
  padding-right: 20px;
}
.c-inner--content {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 820px) {
  .c-inner--content {
    min-width: 0;
    width: 100%;
  }
}
.c-inner--mini {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 820px) {
  .c-inner--mini {
    width: 100%;
  }
}

.c-title {
  position: relative;
}
.c-title::after {
  content: "";
  position: absolute;
  height: 60px;
  border-right: 2px solid #4CB6E9;
  border-bottom: 2px solid #4CB6E9;
  transform: skew(-45deg);
  left: -20px;
  top: -40px;
}
.c-title .ja {
  font-size: 20px;
  margin-bottom: 5px;
}
.c-title .en {
  font-size: 32px;
  font-weight: bold;
}
.c-title .icon {
  position: absolute;
}
.c-title--recruit {
  margin-bottom: 65px;
}
.c-title--recruit .ja, .c-title--recruit .en {
  color: white;
}

.c-btn {
  width: 240px;
  padding: 17.5px;
  border: 1px solid #4CB6E9;
  display: block;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-size: 110%;
  background: rgba(255, 255, 255, 0.7);
}
.c-btn::after {
  content: url("/assets/img/common/btn-arrow.png");
  position: absolute;
  top: 10px;
  right: -25px;
}
.c-btn__2lines::after {
  position: absolute;
  top: 19px;
}

.c-title-secondary {
  text-align: center;
  margin: 20px 0;
  position: relative;
  margin-bottom: 150px;
}
.c-title-secondary .en {
  font-size: 42px;
  font-weight: bold;
  color: #4CB6E9;
  opacity: 45%;
}
.c-title-secondary .ja {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #333;
}
.c-title-secondary .ja::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #004982;
}

.c-anim-fade-in {
  opacity: 0;
  transform: translateY(50px); /* 初期位置は下に設定 */
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}
.c-anim-fade-in.is-visible {
  opacity: 1;
  transform: translateY(0); /* アニメーション後、元の位置に戻す */
}

.p-mv {
  height: 95vh;
  width: 100%;
  background-color: #004982;
  position: relative;
}
.p-mv__main {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-mv__mark {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 5vw;
  width: 18vw;
}
.p-mv__title {
  position: absolute;
  left: 10%;
  bottom: 30%;
  font-size: 2.8vw;
  font-weight: bold;
  line-height: 1.5;
  z-index: 10;
}
.p-mv__title .core {
  font-size: 4.3vw;
  color: #4CB6E9;
}
.p-mv__title .professional {
  font-size: 4.3vw;
  color: #004982;
}
.p-mv__title .kanji {
  font-size: 3.6vw;
}
.p-mv__title .ja {
  font-size: 40px;
  color: #004982;
}
.p-mv__title .en {
  font-size: 120px;
  font-weight: bold;
  color: #4CB6E9;
  line-height: 1;
}
.p-mv__lines {
  width: 120%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
}
.p-mv--top .p-mv__title {
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
}
.p-mv--small {
  margin-top: 100px;
  height: 400px;
  background-image: url("/assets/img/common/mv_top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-mv--small .p-mv__title .ja {
  font-size: 40px;
  color: #004982;
}
.p-mv--small .p-mv__title .en {
  font-size: 120px;
  font-weight: bold;
  color: #4CB6E9;
  line-height: 1;
}

.p-lead-sec {
  padding: 65px 50px;
}
.p-lead-sec__content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: end;
}

.p-recruit {
  background-image: url("/assets/img/common/secRecBg.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-recruit::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.p-recruit__title {
  color: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
.p-recruit__title::after {
  background-color: #fff;
}
.p-recruit__title .ja {
  color: #fff;
}
.p-recruit__title .en {
  color: #fff;
}
.p-recruit__content {
  position: relative;
  z-index: 1;
}
.p-recruit__content p {
  color: white;
}
.p-recruit__content .c-btn {
  color: #004982;
  background: rgba(255, 255, 255, 0.5);
}

.p-instagram {
  margin-bottom: 180px;
  overflow-x: hidden;
  position: relative;
}
.p-instagram__title {
  margin-bottom: 20px;
}
.p-instagram p {
  margin-bottom: 40px;
}
.p-instagram .icon {
  top: 5px;
  left: 180px;
}
.p-instagram__content {
  display: block;
  position: relative;
  z-index: 1;
}
.p-instagram__check {
  position: absolute;
  top: -40px;
  right: 180px;
}
.p-instagram__links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  z-index: 88;
}
.p-instagram__item {
  width: calc((100% - 100px) / 3);
}
.p-instagram__item a .media {
  width: 100%;
  margin-bottom: 20px;
}
.p-instagram__item a .media > img {
  width: 100%;
}
.p-instagram__item a .text {
  font-size: 24px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #4CB6E9;
  padding: 5px;
}
.p-instagram__item a .text::after {
  content: url("/assets/img/common/btn-arrow.png");
  position: absolute;
  top: -2px;
  right: 5px;
}
.p-instagram .mark1 {
  position: absolute;
  bottom: 60px;
  right: -180px;
  width: 470px;
  z-index: -1;
}
.p-instagram .mark2 {
  position: absolute;
  top: 0;
  left: -220px;
  width: 830px;
  z-index: -1;
}

.p-line {
  position: relative;
}
.p-line .c-title {
  margin-bottom: 60px;
}
.p-line .icon {
  top: 5px;
  left: 70px;
}
.p-line__bg {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.p-contact {
  position: relative;
}
.p-contact .contact-line {
  position: absolute;
  width: 100%;
  top: -70%;
  left: 0%;
  rotate: 5deg;
}
.p-contact__btns {
  display: flex;
  gap: 40px;
}
.p-contact__content {
  margin-top: 40px;
}

.l-header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.l-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.l-header__container .logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.l-header__container .logo .text .title {
  color: #004982;
  font-size: 24px;
  margin-bottom: 5px;
}
.l-header__container .logo .text .copy {
  font-size: 15px;
  color: #4CB6E9;
}
.l-header__nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.l-header__menu {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 19px;
}
.l-header__menu a {
  position: relative;
  padding: 5px;
}
.l-header__menu a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* 下線の太さ */
  background-color: #4CB6E9; /* 下線の色 */
  transition: width 0.3s ease;
}
.l-header__menu a.is-current {
  color: #004982;
}
.l-header__menu a:hover::after {
  width: 100%; /* ホバー時に下線が左から右に広がる */
}
.l-header__sns {
  display: flex;
  gap: 15px;
}
.l-header__sns a {
  display: block;
  width: 30px;
}

.l-container {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 820px) {
  .l-container {
    min-width: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.l-footer {
  width: 100%;
  background-color: #F3F3F3;
}
.l-footer__container {
  padding: 20px;
}
.l-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}
.l-footer__text .logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.l-footer__text .logo .text .title {
  color: #004982;
  font-size: 24px;
  margin-bottom: 5px;
}
.l-footer__text .logo .text .copy {
  font-size: 15px;
  color: #4CB6E9;
}
.l-footer__menu {
  display: flex;
  gap: 35px;
}
.l-footer__menu ul li {
  margin-bottom: 20px;
}
.l-footer__menu ul li > a {
  font-size: 14px;
}
.l-footer__menu ul li > a.main {
  font-size: 18px;
}
.l-footer__sns {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 80px;
}
.l-footer__sns--tiktok {
  width: 52px;
}
.l-footer__non-margin-top {
  margin-top: 0px;
}
.l-footer .copyright {
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

.u-ta_c {
  text-align: center !important;
}

.u-ta_l {
  text-align: left !important;
}

.u-ta_r {
  text-align: right !important;
}

.u-alpha {
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition: 0.4s opacity ease;
}

.u-alpha:hover {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-visible_xs,
.u-visible_lg {
  display: none !important;
}

.u-visible_xs_block,
.u-visible_xs_inline,
.u-visible_xs_inline-block,
.u-visible_lg_block,
.u-visible_lg_inline,
.u-visible_lg_inline-block {
  display: none !important;
}

@media only screen and (max-width: 820px) {
  .u-visible_xs {
    display: block !important;
  }
  table.u-visible_xs {
    display: table !important;
  }
  tr.u-visible_xs {
    display: table-row !important;
  }
  th.u-visible_xs,
  td.u-visible_xs {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 820px) {
  .u-visible_xs_block {
    display: block !important;
  }
}
@media only screen and (max-width: 820px) {
  .u-visible_xs_inline {
    display: inline !important;
  }
}
@media only screen and (max-width: 820px) {
  .u-visible_xs_inline-block {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 1319px) {
  .u-visible_lg {
    display: block !important;
  }
  table.u-visible_lg {
    display: table !important;
  }
  tr.u-visible_lg {
    display: table-row !important;
  }
  th.u-visible_lg,
  td.u-visible_lg {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 1319px) {
  .u-visible_lg_block {
    display: block !important;
  }
}
@media only screen and (max-width: 1319px) {
  .u-visible_lg_inline {
    display: inline !important;
  }
}
@media only screen and (max-width: 1319px) {
  .u-visible_lg_inline-block {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 820px) {
  .u-hidden_xs {
    display: none !important;
  }
}
@media only screen and (max-width: 1319px) {
  .u-hidden_lg {
    display: none !important;
  }
}
.u-noEvent {
  pointer-events: none;
}

.u-fw_normal {
  font-weight: normal !important;
}

.u-fw_bold {
  font-weight: bold !important;
}

.u-fs_normal {
  font-style: normal !important;
}

.u-fs_italic {
  font-style: italic !important;
}

.u-m_auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-m_00 {
  margin: 0 !important;
}

.u-m_05 {
  margin: 5px !important;
}

.u-m_10 {
  margin: 10px !important;
}

.u-m_15 {
  margin: 15px !important;
}

.u-m_20 {
  margin: 20px !important;
}

.u-m_25 {
  margin: 25px !important;
}

.u-m_30 {
  margin: 30px !important;
}

.u-m_35 {
  margin: 35px !important;
}

.u-m_40 {
  margin: 40px !important;
}

.u-m_45 {
  margin: 45px !important;
}

.u-m_50 {
  margin: 50px !important;
}

.u-mt_00 {
  margin-top: 0 !important;
}

.u-mt_05 {
  margin-top: 5px !important;
}

.u-mt_10 {
  margin-top: 10px !important;
}

.u-mt_15 {
  margin-top: 15px !important;
}

.u-mt_20 {
  margin-top: 20px !important;
}

.u-mt_25 {
  margin-top: 25px !important;
}

.u-mt_30 {
  margin-top: 30px !important;
}

.u-mt_35 {
  margin-top: 35px !important;
}

.u-mt_40 {
  margin-top: 40px !important;
}

.u-mt_45 {
  margin-top: 45px !important;
}

.u-mt_50 {
  margin-top: 50px !important;
}

.u-mb_00 {
  margin-bottom: 0 !important;
}

.u-mb_05 {
  margin-bottom: 5px !important;
}

.u-mb_10 {
  margin-bottom: 10px !important;
}

.u-mb_15 {
  margin-bottom: 15px !important;
}

.u-mb_20 {
  margin-bottom: 20px !important;
}

.u-mb_25 {
  margin-bottom: 25px !important;
}

.u-mb_30 {
  margin-bottom: 30px !important;
}

.u-mb_35 {
  margin-bottom: 35px !important;
}

.u-mb_40 {
  margin-bottom: 40px !important;
}

.u-mb_45 {
  margin-bottom: 45px !important;
}

.u-mb_50 {
  margin-bottom: 50px !important;
}

.u-ml_00 {
  margin-left: 0 !important;
}

.u-ml_05 {
  margin-left: 5px !important;
}

.u-ml_10 {
  margin-left: 10px !important;
}

.u-ml_15 {
  margin-left: 15px !important;
}

.u-ml_20 {
  margin-left: 20px !important;
}

.u-ml_25 {
  margin-left: 25px !important;
}

.u-ml_30 {
  margin-left: 30px !important;
}

.u-ml_35 {
  margin-left: 35px !important;
}

.u-ml_40 {
  margin-left: 40px !important;
}

.u-ml_45 {
  margin-left: 45px !important;
}

.u-ml_50 {
  margin-left: 50px !important;
}

.u-mr_00 {
  margin-right: 0 !important;
}

.u-mr_05 {
  margin-right: 5px !important;
}

.u-mr_10 {
  margin-right: 10px !important;
}

.u-mr_15 {
  margin-right: 15px !important;
}

.u-mr_20 {
  margin-right: 20px !important;
}

.u-mr_25 {
  margin-right: 25px !important;
}

.u-mr_30 {
  margin-right: 30px !important;
}

.u-mr_35 {
  margin-right: 35px !important;
}

.u-mr_40 {
  margin-right: 40px !important;
}

.u-mr_45 {
  margin-right: 45px !important;
}

.u-mr_50 {
  margin-right: 50px !important;
}

.u-mb_lv01 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv01 {
    margin-bottom: 5px;
  }
}

.u-mb_lv02 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv02 {
    margin-bottom: 10px;
  }
}

.u-mb_lv03 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv03 {
    margin-bottom: 15px;
  }
}

.u-mb_lv04 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv04 {
    margin-bottom: 20px;
  }
}

.u-mb_lv05 {
  margin-bottom: 50px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv05 {
    margin-bottom: 25px;
  }
}

.u-mb_lv06 {
  margin-bottom: 60px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv06 {
    margin-bottom: 30px;
  }
}

.u-mb_lv07 {
  margin-bottom: 70px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv07 {
    margin-bottom: 35px;
  }
}

.u-mb_lv08 {
  margin-bottom: 80px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv08 {
    margin-bottom: 40px;
  }
}

.u-mb_lv09 {
  margin-bottom: 90px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv09 {
    margin-bottom: 45px;
  }
}

.u-mb_lv10 {
  margin-bottom: 100px;
}
@media only screen and (max-width: 820px) {
  .u-mb_lv10 {
    margin-bottom: 50px;
  }
}

.u-p_00 {
  padding: 0 !important;
}

.u-p_05 {
  padding: 5px !important;
}

.u-p_10 {
  padding: 10px !important;
}

.u-p_15 {
  padding: 15px !important;
}

.u-p_20 {
  padding: 20px !important;
}

.u-p_25 {
  padding: 25px !important;
}

.u-p_30 {
  padding: 30px !important;
}

.u-p_35 {
  padding: 35px !important;
}

.u-p_40 {
  padding: 40px !important;
}

.u-p_45 {
  padding: 45px !important;
}

.u-p_50 {
  padding: 50px !important;
}

.u-pt_00 {
  padding-top: 0 !important;
}

.u-pt_05 {
  padding-top: 5px !important;
}

.u-pt_10 {
  padding-top: 10px !important;
}

.u-pt_15 {
  padding-top: 15px !important;
}

.u-pt_20 {
  padding-top: 20px !important;
}

.u-pt_25 {
  padding-top: 25px !important;
}

.u-pt_30 {
  padding-top: 30px !important;
}

.u-pt_35 {
  padding-top: 35px !important;
}

.u-pt_40 {
  padding-top: 40px !important;
}

.u-pt_45 {
  padding-top: 45px !important;
}

.u-pt_50 {
  padding-top: 50px !important;
}

.u-pb_00 {
  padding-bottom: 0 !important;
}

.u-pb_05 {
  padding-bottom: 5px !important;
}

.u-pb_10 {
  padding-bottom: 10px !important;
}

.u-pb_15 {
  padding-bottom: 15px !important;
}

.u-pb_20 {
  padding-bottom: 20px !important;
}

.u-pb_25 {
  padding-bottom: 25px !important;
}

.u-pb_30 {
  padding-bottom: 30px !important;
}

.u-pb_35 {
  padding-bottom: 35px !important;
}

.u-pb_40 {
  padding-bottom: 40px !important;
}

.u-pb_45 {
  padding-bottom: 45px !important;
}

.u-pb_50 {
  padding-bottom: 50px !important;
}

.u-pl_00 {
  padding-left: 0 !important;
}

.u-pl_05 {
  padding-left: 5px !important;
}

.u-pl_10 {
  padding-left: 10px !important;
}

.u-pl_15 {
  padding-left: 15px !important;
}

.u-pl_20 {
  padding-left: 20px !important;
}

.u-pl_25 {
  padding-left: 25px !important;
}

.u-pl_30 {
  padding-left: 30px !important;
}

.u-pl_35 {
  padding-left: 35px !important;
}

.u-pl_40 {
  padding-left: 40px !important;
}

.u-pl_45 {
  padding-left: 45px !important;
}

.u-pl_50 {
  padding-left: 50px !important;
}

.u-pr_00 {
  padding-right: 0 !important;
}

.u-pr_05 {
  padding-right: 5px !important;
}

.u-pr_10 {
  padding-right: 10px !important;
}

.u-pr_15 {
  padding-right: 15px !important;
}

.u-pr_20 {
  padding-right: 20px !important;
}

.u-pr_25 {
  padding-right: 25px !important;
}

.u-pr_30 {
  padding-right: 30px !important;
}

.u-pr_35 {
  padding-right: 35px !important;
}

.u-pr_40 {
  padding-right: 40px !important;
}

.u-pr_45 {
  padding-right: 45px !important;
}

.u-pr_50 {
  padding-right: 50px !important;
}

.u-position_relative {
  position: relative !important;
}

.u-position_abs {
  position: absolute !important;
}

.u-position_fixed {
  position: fixed !important;
}

.u-position_static {
  position: static !important;
}

.u-vertical_mid {
  vertical-align: middle !important;
}

.u-vertical_bottom {
  vertical-align: bottom !important;
}

.u-vertical_base {
  vertical-align: baseline !important;
}

.u-vertical_sup {
  vertical-align: super !important;
}

.u-vertical_sub {
  vertical-align: sub !important;
}

.u-vertical_tb {
  vertical-align: text-bottom !important;
}

.u-vertical_tt {
  vertical-align: text-top !important;
}/*# sourceMappingURL=common.css.map */