#top {
  overflow-x: hidden;
}
#top .about {
  position: relative;
  margin-bottom: 400px;
}
#top .about .about__inner {
  padding: 0 100px;
}
#top .about .about__inner .p-index__about-title {
  margin-top: 250px;
}
#top .about .about__inner .p-index__about-catch {
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
}
#top .about .about__inner .p-index__about-desc {
  margin-top: 50px;
  font-size: 28px;
  width: 60%;
}
#top .about .about__inner .index__about-img {
  position: absolute;
  width: 70%;
  height: 500px;
  top: 0;
  right: -16.2%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
#top .about .about__inner .p-index__about-btn {
  float: right;
}
#top .business {
  position: relative;
}
#top .business__container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#top .business .business__inner {
  padding: 0 100px;
}
#top .business .business__inner .p-index__business-imgs {
  width: 850px;
  height: 500px;
  position: relative;
  z-index: -1;
}
#top .business .business__inner .p-index__business-imgs .block__title {
  z-index: 3;
  position: absolute;
  font-size: 19px;
  left: 42%;
  top: -10px;
  color: #ffffff;
}
#top .business .business__inner .p-index__business-imgs .block__title--property {
  top: 459px;
  left: -5%;
}
#top .business .business__inner .p-index__business-imgs .block__title--renovation {
  top: 459px;
  left: 62%;
}
#top .business .business__inner .p-index__business-imgs .block__blue {
  text-align: center;
  background-color: #004982;
  width: 27%;
  height: 50px;
  position: absolute;
  z-index: 2;
  left: 40%;
  top: -25px;
  transform: skew(-30deg);
}
#top .business .business__inner .p-index__business-imgs .block__blue--property {
  left: -8%;
  top: 445px;
}
#top .business .business__inner .p-index__business-imgs .block__blue--renovation {
  left: 60%;
  top: 445px;
}
#top .business .business__inner .p-index__business-imgs .block__skyblue {
  position: absolute;
  background-color: #4CB6E9;
  width: 27%;
  height: 50px;
  z-index: 1;
  left: 37%;
  top: -15px;
  transform: skew(-30deg);
}
#top .business .business__inner .p-index__business-imgs .block__skyblue--property {
  left: -11%;
  top: 456px;
}
#top .business .business__inner .p-index__business-imgs .block__skyblue--renovation {
  left: 57%;
  top: 456px;
}
#top .business .business__inner .p-index__business-imgs .index__about-img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
}
#top .business .business__inner .p-index__business-imgs .index__about-img--construction {
  left: 20%;
}
#top .business .business__inner .p-index__business-imgs .index__about-img--property {
  left: -4.8%;
  top: 300px;
}
#top .business .business__inner .p-index__business-imgs .index__about-img--renovation {
  left: 44.7%;
  top: 300px;
}
#top .business .business__inner .p-index__business-imgs .index__about-message {
  position: absolute;
  font-size: 18px;
  top: 285px;
  left: 27.5%;
}
#top .business .business__inner .p-index__business-content {
  width: 500px;
}
#top .business .business__inner .p-index__business-content .p-index__business-desc {
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}
#top .business .business__inner .p-index__business-content .p-index__business-btn {
  margin-top: 50px;
  float: right;
}
#top .business .business__inner .mark-text {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -2;
}
#top .achivements {
  position: relative;
}
#top .achivements .achivements__inner {
  padding: 0 100px;
}
#top .achivements .achivements__inner .p-index__achivements-catch {
  margin-top: 40px;
  width: 100%;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#top .achivements .achivements__inner .p-index__achivements-list {
  width: 100%;
  margin-top: 50px;
  height: 550px;
}
#top .achivements .achivements__inner .p-index__achivements-list--float-off {
  clear: both;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-right {
  width: 47%;
  float: right;
  padding-top: 60px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-right .p-index__achivements-category {
  font-size: 32px;
  border-bottom: 1px solid #004982;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-right .p-index__achivements-desc {
  font-size: 20px;
  letter-spacing: 1px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-right .p-index__achivements-btn {
  margin-top: 60px;
  float: right;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left {
  width: 47%;
  position: relative;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .block__skyblue {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #4CB6E9;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .block__skyblue--1 {
  width: 360px;
  height: 220px;
  right: 0;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .block__blue {
  position: absolute;
  right: 0;
  top: 260px;
  width: 200px;
  height: 200px;
  background-color: #004982;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .block__blue--1 {
  left: 0;
  height: 320px;
  top: 200px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--1 {
  width: 230px;
  height: 230px;
  z-index: 3;
  top: 170px;
  right: 20%;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--2 {
  width: 330px;
  height: 330px;
  z-index: 2;
  left: 5%;
  top: 120px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--3 {
  width: 380px;
  height: 350px;
  z-index: 1;
  right: 3%;
  top: 20px;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--4 {
  width: 260px;
  height: 230px;
  right: 0;
  top: 300px;
  z-index: 3;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--5 {
  width: 430px;
  height: 280px;
  left: 18%;
  top: 150px;
  z-index: 2;
}
#top .achivements .achivements__inner .p-index__achivements-list .p-index__achivements-list-left .index__achivements-img--6 {
  width: 450px;
  height: 250px;
  left: -5%;
  top: -20px;
  z-index: 1;
}
#top .achivements .achivements__inner .mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
#top .achivements .achivements__inner .mark-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#top .price {
  margin-top: 200px;
  margin-bottom: 100px;
}
#top .price .price__inner {
  padding: 0 100px;
  position: relative;
}
#top .price .price__inner .p-index__price-title {
  margin-top: 150px;
}
#top .price .price__inner .p-index__price-catch {
  margin-top: 40px;
  width: 100%;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#top .price .price__inner .price__list {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
#top .price .price__inner .price__list li {
  width: calc(50% - 15px);
}
#top .price .price__inner .p-index__price-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#top .infomation {
  position: relative;
  width: 100%;
  padding: 40px 20px 30px 20px;
  margin-bottom: 180px;
}
#top .infomation__inner {
  position: relative;
  z-index: 4;
}
#top .infomation__content {
  background: rgba(255, 255, 255, 0.7);
  padding: 40px 20px 20px 20px;
  margin-bottom: 30px;
}
#top .infomation__wrapper {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
  margin-bottom: 40px;
}
#top .infomation__title {
  width: 50%;
  text-align: center;
}
#top .infomation__title-text {
  display: inline-block;
}
#top .infomation__title-text .en {
  color: #004982;
}
#top .infomation__title-text .ja {
  color: #004982;
}
#top .infomation__desc {
  width: 50%;
}
#top .infomation__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#top .infomation__bg ul {
  animation: marquee-right 180s linear infinite;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}
#top .infomation__bg ul li {
  width: 100%;
  height: 100%;
}
#top .infomation__bg ul li img {
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes marquee-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
#top .infomation__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#top .infomation__btn {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9;
  background: rgba(255, 255, 255, 0.9);
  display: block;
}/*# sourceMappingURL=index.css.map */