.price {
  margin-top: 250px;
}
@media only screen and (max-width: 767px) {
  .price {
    margin-top: 60px;
  }
}
.price .price__inner {
  padding: 0 100px;
}
@media only screen and (max-width: 1280px) {
  .price .price__inner {
    padding: 0;
  }
}
.price .price__inner .p-price__contents {
  margin-bottom: 200px;
}
.price .price__inner .p-price__contents .p-price__content {
  margin-top: 50px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content {
    margin-bottom: 40px;
  }
}
.price .price__inner .p-price__contents .p-price__content #irenovation {
  padding-top: 100px;
}
.price .price__inner .p-price__contents .p-price__content .p-price__img {
  width: 500px;
  aspect-ratio: 500/350;
  object-fit: cover;
  padding-top: 50px;
}
@media only screen and (max-width: 1280px) {
  .price .price__inner .p-price__contents .p-price__content .p-price__img {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .p-price__img {
    width: 100%;
    padding-top: 0;
  }
}
.price .price__inner .p-price__contents .p-price__content .p-price__img--contain {
  object-fit: contain;
}
.price .price__inner .p-price__contents .p-price__content .p-price__explain {
  padding-top: 80px;
  float: right;
  width: 50%;
}
@media only screen and (max-width: 1280px) {
  .price .price__inner .p-price__contents .p-price__content .p-price__explain {
    width: calc(50% - 20px);
  }
}
.price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__subtitle {
  font-size: 32px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__subtitle {
    font-size: 24px;
  }
}
.price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__desc {
  padding-top: 50px;
  font-size: 20px;
}
.price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__price {
  padding-top: 50px;
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__price {
    font-size: 16px;
  }
}
.price .price__inner .p-price__contents .p-price__content .p-price__explain .p-price__btn--right {
  float: right;
}
.price .price__inner .p-price__contents .p-price__content .irenovation__explain {
  width: 50%;
  float: left;
  padding-top: 30px;
  padding-left: 0px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .irenovation__explain {
    padding-top: 0;
    width: 100%;
    float: initial;
  }
}
.price .price__inner .p-price__contents .p-price__content .irenovation__explain .irenovation__subtitle {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .irenovation__explain .irenovation__subtitle {
    margin-bottom: 20px;
  }
}
.price .price__inner .p-price__contents .p-price__content .irenovation__explain .price__list {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  gap: 20px;
}
.price .price__inner .p-price__contents .p-price__content .irenovation__explain .irenovation__price-title {
  width: 100%;
  padding-top: 0px;
}
.price .price__inner .p-price__contents .p-price__content .irenovation__explain .irenovation__price {
  font-size: 20px;
  width: 50%;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .irenovation__explain .irenovation__price {
    font-size: 16px;
  }
}
.price .price__inner .p-price__contents .p-price__content .irenovation__img {
  float: right;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__content .irenovation__img {
    float: initial;
  }
}
.price .price__inner .p-price__contents .p-price__btn--center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.price .price__inner .p-price__contents .p-price__btn--center-W {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 767px) {
  .price .price__inner .p-price__contents .p-price__btn--center-W {
    flex-direction: column;
    gap: 40px;
  }
}
.price .price__inner .p-price__contents .p-price__btn--center-W .irenovation__btn {
  width: 320px;
}