.recruitment {
  margin-top: 150px;
  letter-spacing: 2px;
  text-align: left;
}
.recruitment__inner {
  padding: 0 150px;
}
@media only screen and (max-width: 1000px) {
  .recruitment__inner {
    padding: 0;
  }
}
.recruitment__content {
  margin-top: 70px;
  font-size: 20px;
}
.recruitment__content-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1.8;
}
.recruitment__content-list-term {
  width: 175px;
  padding: 23px 20px;
  font-weight: bold;
  border-bottom: solid 1.5px #4CB6E9;
}
@media only screen and (max-width: 767px) {
  .recruitment__content-list-term {
    font-size: 16px;
    padding: 10px;
    width: 120px;
  }
}
.recruitment__content-list-desc {
  width: calc(100% - 175px);
  line-height: 1.8;
  padding: 23px 20px;
  border-bottom: solid 1px #d6d6d6;
}
@media only screen and (max-width: 767px) {
  .recruitment__content-list-desc {
    font-size: 16px;
    padding: 10px;
    width: calc(100% - 120px);
  }
}
.recruitment__btns {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media only screen and (max-width: 767px) {
  .recruitment__btns {
    flex-direction: column;
    gap: 40px;
  }
}