@charset "utf-8";

// ==========================================================================
// text-align
// ==========================================================================

.u-ta_c {
	text-align: center !important;
}
.u-ta_l {
	text-align: left !important;
}
.u-ta_r {
	text-align: right !important;
}