@charset "utf-8";

// ==========================================================================
// alpha
// ==========================================================================

.u-alpha {
	-ms-filter: "alpha(opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	transition: 0.4s opacity ease;
}
.u-alpha:hover {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
