@charset "utf-8";

// ==========================================================================
// pointer-events
// ==========================================================================

.u-noEvent {
    pointer-events: none;
}