@charset "utf-8";

// ==========================================================================
// font-weight
// ==========================================================================

.u-fw_normal {
	font-weight: normal !important;
}
.u-fw_bold {
	font-weight: bold !important;
}

// ==========================================================================
// font-style
// ==========================================================================

.u-fs_normal {
	font-style: normal !important;
}
.u-fs_italic {
	font-style: italic!important;
}

