@charset "utf-8";

// ==========================================================================
// padding
// ==========================================================================

.u-p_00{
	padding: 0!important;
}
.u-p_05{
	padding: 5px!important;
}
.u-p_10{
	padding: 10px!important;
}
.u-p_15{
	padding: 15px!important;
}
.u-p_20{
	padding: 20px!important;
}
.u-p_25{
	padding: 25px!important;
}
.u-p_30{
	padding: 30px!important;
}
.u-p_35{
	padding: 35px!important;
}
.u-p_40{
	padding: 40px!important;
}
.u-p_45{
	padding: 45px!important;
}
.u-p_50{
	padding: 50px!important;
}

// ==========================================================================
// padding-top
// ==========================================================================

.u-pt_00{
	padding-top: 0!important;
}
.u-pt_05{
	padding-top: 5px!important;
}
.u-pt_10{
	padding-top: 10px!important;
}
.u-pt_15{
	padding-top: 15px!important;
}
.u-pt_20{
	padding-top: 20px!important;
}
.u-pt_25{
	padding-top: 25px!important;
}
.u-pt_30{
	padding-top: 30px!important;
}
.u-pt_35{
	padding-top: 35px!important;
}
.u-pt_40{
	padding-top: 40px!important;
}
.u-pt_45{
	padding-top: 45px!important;
}
.u-pt_50{
	padding-top: 50px!important;
}

// ==========================================================================
// padding-bottom
// ==========================================================================

.u-pb_00{
	padding-bottom: 0!important;
}
.u-pb_05{
	padding-bottom: 5px!important;
}
.u-pb_10{
	padding-bottom: 10px!important;
}
.u-pb_15{
	padding-bottom: 15px!important;
}
.u-pb_20{
	padding-bottom: 20px!important;
}
.u-pb_25{
	padding-bottom: 25px!important;
}
.u-pb_30{
	padding-bottom: 30px!important;
}
.u-pb_35{
	padding-bottom: 35px!important;
}
.u-pb_40{
	padding-bottom: 40px!important;
}
.u-pb_45{
	padding-bottom: 45px!important;
}
.u-pb_50{
	padding-bottom: 50px!important;
}

// ==========================================================================
// padding-left
// ==========================================================================

.u-pl_00{
	padding-left: 0!important;
}
.u-pl_05{
	padding-left: 5px!important;
}
.u-pl_10{
	padding-left: 10px!important;
}
.u-pl_15{
	padding-left: 15px!important;
}
.u-pl_20{
	padding-left: 20px!important;
}
.u-pl_25{
	padding-left: 25px!important;
}
.u-pl_30{
	padding-left: 30px!important;
}
.u-pl_35{
	padding-left: 35px!important;
}
.u-pl_40{
	padding-left: 40px!important;
}
.u-pl_45{
	padding-left: 45px!important;
}
.u-pl_50{
	padding-left: 50px!important;
}

// ==========================================================================
// padding-right
// ==========================================================================

.u-pr_00{
	padding-right: 0!important;
}
.u-pr_05{
	padding-right: 5px!important;
}
.u-pr_10{
	padding-right: 10px!important;
}
.u-pr_15{
	padding-right: 15px!important;
}
.u-pr_20{
	padding-right: 20px!important;
}
.u-pr_25{
	padding-right: 25px!important;
}
.u-pr_30{
	padding-right: 30px!important;
}
.u-pr_35{
	padding-right: 35px!important;
}
.u-pr_40{
	padding-right: 40px!important;
}
.u-pr_45{
	padding-right: 45px!important;
}
.u-pr_50{
	padding-right: 50px!important;
}