@charset "utf-8";

// ==========================================================================
// verticla-align
// ==========================================================================

.u-vertical_mid{
	vertical-align:middle!important;
}
.u-vertical_bottom{
	vertical-align: bottom!important;
}
.u-vertical_base{
	vertical-align: baseline!important;
}
.u-vertical_sup{
	vertical-align: super!important;
}
.u-vertical_sub{
	vertical-align:sub!important;
}
.u-vertical_tb{
	vertical-align:text-bottom!important;
}
.u-vertical_tt{
	vertical-align:text-top!important;
}

